.hero {
  height: 83rem;
  padding: 22rem 4.8rem;
  margin-bottom: 10rem;

  &__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1); // Adjust opacity as needed
      z-index: 1;
    }
  }

  &__home__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    position: relative;
    border-radius: 0px 0px 200px 200px;
  }

  &__logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    &--orange {
      filter: invert(52%) sepia(67%) saturate(474%) hue-rotate(351deg)
        brightness(93%) contrast(93%);
    }
  }

  &__headline--orange {
    color: #ffffffd7;
  }
}
